*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    color: white;
    
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;

}

header{
    width: 100%;
}

.header{
    background: black;
    
}
.graficlogo{
    
    margin-left: 10%;

    width: 141px;
    height: 140px;
}

nav{
    background-color: black;
    height: 55px;
    border-top: 3px solid white;

}

.topnav{
    margin-top: 15.5px;
    font-size: 20px;
    text-align: center;
}

.topnav a{
    color:white;
    text-align: center;
    padding: 14px 60px;
}

.topnav a:hover{
    border-bottom: 5px solid #000;
    color: #8f8f8f;
    transition-delay:0.02s;
      
}

.purchase {
    position: absolute;
    margin-left: 35%;
    top: 10px;
    white-space: nowrap;
    font-size: 40px;
    text-align: center;
  }
  
  .purchase span {
    display: block;
  }
  
  .purchase span:nth-child(2) {
    font-size: 50px;
  }


