*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    color: white;
    
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;

}

header{
    width: 1920px;
}

.header{
    background: black;
    display: flex;
    
}
.graficlogo{
    
    margin-left: 271px;

    width: 141px;
    height: 140px;
}

nav{
    margin: auto;
    height: 55px;
}

.topnav{
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.topnav a{
    color:white;
    text-align: center;
    padding: 14px 60px;
}

.topnav a:hover{
    border-bottom: 2px solid #000;
}

.purchase {
    position: absolute;
    margin-left: 672px;
    top: 10px;
    white-space: nowrap;
    font-size: 40px;
    text-align: center;
  }
  
  .purchase span {
    display: block;
  }
  
  .purchase span:nth-child(2) {
    font-size: 50px;
  }


