* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;

}

header {
    width: 100%;
}

.header {
    background: black;
    
}
.graficlogo {
    
    margin-left: 10%;

    width: 141px;
    height: 140px;
}

nav {
    background-color: black;
    height: 55px;
    border-top: 3px solid white;

}

.topnav {
    margin-top: 15.5px;
    font-size: 20px;
    text-align: center;
}

.topnav a {
    color:white;
    text-align: center;
    padding: 14px 60px;
    transition: all 0.2s;
}

.topnav a:hover {
    border-bottom: 5px solid #000;
    color: #8f8f8f;
    
      
}

.purchase {
    position: absolute;
    margin-left: 35%;
    top: 10px;
    white-space: nowrap;
    font-size: 40px;
    text-align: center;
  }
  
  .purchase span {
    display: block;
  }
  
  .purchase span:nth-child(2) {
    font-size: 50px;
  }

  .intro {
    background: url(BackgroundServices.png) no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro_title {
    margin-top: 32px;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    line-height: 60px;

    color: #000000;
}

.main_intro {
    margin-top: 37px;
    margin-bottom: 7%;
    width: 100%;    
    
}

.intro_img {
    width: 505px;
    height: 649px;
    margin-left: 7%;
    border-radius: 30px;
    
}
